.cssload-loader{
	display: inline;
	position:absolute;
	height:3em;width:3em;
	left:50%;
	margin-top:1.2em;
	margin-left:-1em;
	background-color:rgb(10,36,153);
	border-radius:2.5em 2.5em 2.5em 2.5em;
		-o-border-radius:2.5em 2.5em 2.5em 2.5em;
		-ms-border-radius:2.5em 2.5em 2.5em 2.5em;
		-webkit-border-radius:2.5em 2.5em 2.5em 2.5em;
		-moz-border-radius:2.5em 2.5em 2.5em 2.5em;
	box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
		-o-box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
		-ms-box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
		-webkit-box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
		-moz-box-shadow:inset 0 0 0 0.5em rgb(154,202,60);
	background: linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -o-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -ms-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -webkit-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -moz-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
	background-blend-mode: multiply;
	border-top:5px solid rgb(145,145,145);
	border-left:5px solid rgb(145,145,145);
	border-bottom:5px solid rgb(145,145,145);
	border-right:5px solid rgb(145,145,145);
	animation:cssload-roto 1.15s infinite linear;
		-o-animation:cssload-roto 1.15s infinite linear;
		-ms-animation:cssload-roto 1.15s infinite linear;
		-webkit-animation:cssload-roto 1.15s infinite linear;
		-moz-animation:cssload-roto 1.15s infinite linear;
}


@keyframes cssload-roto {
	0%{transform:rotateZ(0deg);}
	100%{transform:rotateZ(360deg);}
}

@-o-keyframes cssload-roto {
	0%{-o-transform:rotateZ(0deg);}
	100%{-o-transform:rotateZ(360deg);}
}

@-ms-keyframes cssload-roto {
	0%{-ms-transform:rotateZ(0deg);}
	100%{-ms-transform:rotateZ(360deg);}
}

@-webkit-keyframes cssload-roto {
	0%{-webkit-transform:rotateZ(0deg);}
	100%{-webkit-transform:rotateZ(360deg);}
}

@-moz-keyframes cssload-roto {
	0%{-moz-transform:rotateZ(0deg);}
	100%{-moz-transform:rotateZ(360deg);}
}

.logo img {width:100%;}

.sidebar[data-color="teal"]:after, body > .navbar-collapse[data-color="teal"]:after {

    background: #02AC9A;
    background: -moz-linear-gradient(top, #02AC9A 0%, #55D5AE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02AC9A), color-stop(100%, #55D5AE));
    background: -webkit-linear-gradient(top, #02AC9A 0%, #55D5AE 100%);
    background: -o-linear-gradient(top, #02AC9A 0%, #55D5AE 100%);
    background: -ms-linear-gradient(top, #02AC9A 0%, #55D5AE 100%);
    background: linear-gradient(to bottom, #02AC9A 0%, #55D5AE 100%);
    background-size: 150% 150%;

}

.et_manage_submit {
    display: block;
    text-align: center;
    box-shadow: 0px 5px 20px #d6dee4;
    -moz-box-shadow: 0px 5px 20px #d6dee4;
    -webkit-box-shadow: 0px 5px 20px #d6dee4;
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
    background-color: #f92c8b;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.form_control{
	margin: 10px 10px 10px 10px !important;
}
